.login-form {
  max-width: 300px;
}
.login-form-margin {
  margin-bottom: 16px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.auth-page {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../../../../../assets/auth_signup_background.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  .auth-page-card {
    max-width: 450px;
    width: 100%;
    display: flex;
    padding: 0 10px;
    background-color: #fff; 
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px #000;
    align-items: center;
    padding: 20px;
    z-index: 1;
  }
  
  .auth-page-card .ant-form {
    width: 100%;
    padding-bottom: 30px;
  }
  .auth-logo {
    margin-bottom: 30px;
  }
  .auth-logo img {
    height: 100px;
  }
}
