
global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:9191
  stats enable
  stats uri /
  stats refresh 10s

frontend balancer
  bind 0.0.0.0:9090
  mode http
  default_backend backend_services

backend backend_services
  mode http
  option forwardfor
  balance roundrobin
  server nestjs_service_1 nestjs_service_1:3000 check
  server nestjs_service_2 nestjs_service_2:3000 check
  server nestjs_service_3 nestjs_service_3:3000 check


