<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title>Orders</nz-page-header-title>
  <nz-page-header-extra>
    <nz-input-group nzSize="large" nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        type="text"
        (keyup)="onChangeSearch($event)"
        nz-input
        placeholder="Search..."
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>Search</button>
    </ng-template>
  </nz-page-header-extra>
</nz-page-header>
<ng-container>
  <nz-table
    #basicTable
    [nzData]="state.items"
    [nzBordered]="true"
    [nzFrontPagination]="false"
    nzShowPagination
    [nzTotal]="state.meta.totalItems"
    [nzPageSize]="state.meta.itemsPerPage"
    [nzLoading]="loading"
    (nzPageIndexChange)="onChangePage($event)"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
        <th>Client</th>
        <th>Total Amount</th>
        <th>Total Products</th>
        <th>Address</th>
        <th style="text-align: right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>
          <nz-tag [nzColor]="getStatusColor(data.status)">{{ data.status }}</nz-tag>
        </td>
        <td>{{ data.createdAt | date }}</td>
        <td>{{ data.updatedAt | date }}</td>
        <td>{{ data.client.name + ' ' + data.client.lastname }}</td>
        <td>{{ data.totalAmount }}</td>
        <td>{{ data.totalProducts }}</td>
        <td>{{ data.address.neighborhood }}, {{ data.address.city }}, {{ data.address.state }}, {{ data.address.country }}</td>
        <td style="text-align: right; width: 200px">
          <ng-container *ngIf="data.status === 'PENDING'">
            <a nz-popconfirm nzPopconfirmTitle="Are you sure cancel this?" nzPopconfirmPlacement="top" (nzOnConfirm)="onCancel(data.id)">
              <button nz-button nzShape="circle" class="ant-btn-default" style="margin-right: 8px;">
                <i nz-icon nzType="close" nzTheme="outline"></i>
              </button>
            </a>
          </ng-container>
          <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this?" nzPopconfirmPlacement="top" (nzOnConfirm)="onDelete(data.id)">
            <button nz-button nzShape="circle" class="ant-btn-danger">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
