<nz-drawer
  [nzClosable]="true"
  [nzVisible]="isOpen"
  nzPlacement="right"
  nzTitle="Create Product"
  (nzOnClose)="onClose.emit()"
  [nzWidth]="720"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzFooter]="footerTpl"
>
  <ng-container *nzDrawerContent>
    <form [formGroup]="productForm">
      <app-file-upload
        [(fileSelected)]="mainImageFileSelected"
      ></app-file-upload>

      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
          <label>Name</label>
          <input
            type="text"
            formControlName="name"
            nz-input
            placeholder="name"
          />
        </div>
        <div nz-col nzSpan="12">
          <label>Description</label>
          <input
            type="text"
            formControlName="description"
            nz-input
            placeholder="description"
          />
        </div>
        <div nz-col nzSpan="8">
          <label>Category</label>
          <nz-select
            style="width: 100%"
            (nzScrollToBottom)="loadMoreCategory()"
            nzPlaceHolder="Select category"
            nzAllowClear
            formControlName="category"
            [nzDropdownRender]="renderTemplate"
          >
            <nz-option
              *ngFor="let o of categoryOptionList"
              [nzValue]="o?.id"
              [nzLabel]="o?.name"
            ></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="8">
          <label>Brand</label>
          <nz-select
            style="width: 100%"
            (nzScrollToBottom)="loadMoreBrands()"
            nzPlaceHolder="Select brand"
            nzAllowClear
            formControlName="brand"
            [nzDropdownRender]="renderTemplate"
          >
            <nz-option
              *ngFor="let o of brandOptionList"
              [nzValue]="o?.id"
              [nzLabel]="o?.name"
            ></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="5">
          <label>Stock</label>
          <input
            type="number"
            formControlName="stock"
            nz-input
            placeholder="Stock"
          />
        </div>
        <div nz-col nzSpan="5">
          <label>Price</label>
          <input
            type="number"
            formControlName="price"
            nz-input
            placeholder="Price"
          />
        </div>
        <div nz-col nzSpan="9">
          <label>Product Code</label>
          <input
            type="number"
            formControlName="productCode"
            nz-input
            placeholder="Product Code"
          />
        </div>
      </div>
    </form>
  </ng-container>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="onClose.emit()">
        Cancel
      </button>
      <button nz-button nzType="primary" (click)="onSubmitCreate()">
        Submit
      </button>
    </div>
  </ng-template>
</nz-drawer>
<ng-template #renderTemplate>
  <nz-spin *ngIf="isLoading"></nz-spin>
</ng-template>
