<nz-modal
  [(nzVisible)]="isOpen"
  (nzOnCancel)="onClose.emit()"
  (nzOnOk)="onSubmit()"
  nzTitle="Update Brand"
>
  <ng-container *nzModalContent>
    <form [formGroup]="brandForm">
      <app-file-upload [(fileSelected)]="brandImageFileSelected"></app-file-upload>
      <label>Name</label>
      <input type="text" formControlName="name" nz-input placeholder="name" />
      <label>Slug</label>
      <input type="text" formControlName="slug" nz-input placeholder="slug" />
    </form>
  </ng-container>
</nz-modal>
