<button
  nz-button
  nzType="primary"
  style="margin-right: 15px"
  (click)="isModalOpen = true"
  nzShape="circle"
>
  <i nz-icon nzType="edit" nzTheme="outline"></i>
</button>

<nz-modal
  [(nzVisible)]="isModalOpen"
  nzTitle="Update Category"
  (nzOnCancel)="isModalOpen = false"
  (nzOnOk)="onSubmit()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="categoryForm">
      <app-file-upload
        [(fileSelected)]="categoryImageFileSelected"
      ></app-file-upload>
      <label>Category Name</label>
      <input type="text" formControlName="name" nz-input placeholder="Name" />
      <label>Category Description</label>
      <input type="text" formControlName="description" nz-input placeholder="Description" />
    </form>
  </ng-container>
</nz-modal>
