<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title>Admin Users</nz-page-header-title>
  <nz-page-header-subtitle>Admin Users lists. </nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-input-group nzSize="large" nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        type="text"
        (keyup)="onChangeSearch($event)"
        nz-input
        placeholder="Search..."
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>Search</button>
    </ng-template>
  </nz-page-header-extra>
</nz-page-header>
<ng-container>
  <button
    (click)="onOpenCreateModal()"
    nz-button
    nzType="primary"
    style="margin-bottom: 15px"
  >
    <i nz-icon nzType="edit" nzTheme="outline"></i>Create
  </button>
  <nz-table
    #basicTable
    [nzData]="state.items"
    [nzBordered]="true"
    [nzFrontPagination]="false"
    nzShowPagination
    [nzTotal]="state.meta.totalItems"
    [nzPageSize]="state.meta.itemsPerPage"
    [nzLoading]="loading"
    (nzPageIndexChange)="onChangePage($event)"
  >
    <thead>
      <tr>
        <th style="width: 60px">Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Country</th>
        <th>City</th>
        <th>Language</th>
        <th>Birthdate</th>
        <th>Gender</th>
        <th style="text-align: right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td><img style="height: 45px" [src]="data.image?.url || 'N/A'" alt="" /></td>
        <td>{{ data.id }}</td>
        <td>{{ data.name }} {{ data.lastname }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.country ? data.country : 'Not Specified' }}</td>
        <td>{{ data.city ? data.city : 'Not Specified' }}</td>
        <td>{{ data.language ? data.language : 'Not Specified' }}</td>
        <td>{{ data.birthDate | date }}</td>
        <td>{{ data.gender ? data.gender : 'Not Specified' }}</td>
        <td style="text-align: right; width: 200px">
          <app-user-update [data]="data"></app-user-update>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this?"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="onDelete(data.id)"
          >
            <button nz-button nzShape="circle" class="ant-btn-danger">
              <i nz-icon nzType="delete" nzTheme="outline"></i></button
          ></a>
      </tr>
    </tbody>
  </nz-table>
</ng-container>

<app-create-user
  (onClose)="onCloseCreateModal()"
  [isOpen]="isOpenCreateModal"
></app-create-user>

